body{ 
    color:rgb(12, 6, 6);
    background-image: url(https://wallpapercave.com/wp/wp3996103.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.pretty_font{
    font-family: monospace;
    font-size: 20px;
}